# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
frontend/dist/
frontend/build/
backend/resumes/
backend/uploads/

# Env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
**/.dockerignore

# Logs
*.log

# Misc
*.zip
*.sqlite
